.button {
    border-radius: 20pt;
    border: 0;
    height: 40pt;
    font-size: 14pt;
    font-weight: 500;
    line-height: 20pt;

    &.filled {
        background-color: #FF6600;
        color: #FFFFFF
    }

    &.empty {
        background-color: rgba(255, 255, 255, 0);
        color: #FF6600;
        border: 1pt solid #FF6600;
    }

    .image {
        width: unset;
        margin: 0 12pt 0 0;
    }
}