.qty-rockers-wrapper {
    display: flex;
    font-size: 14px;
    color: #333333 !important;

    ul {
        padding: 0;
        margin: 24px 0 0;
        width: 100%;

        li {
            display: flex;
            justify-content: space-between;
            height: 40px;
            line-height: 40px;
            margin: 0 0 12px;

            &:last-of-type {
                margin: 0;
            }

            .option-price {
                margin: 0 12px 0 0;
                min-width: 56px;
            }

            .price-input {
                display: flex;
            }
        }
    }
}