.product-order-block {
    padding: 28px 26px 24px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    background-color: #FFFFFF;
    font-size: 14px;

    .lead-number,
    .shipping-time-number {
        font-weight: bold;
    }

    .lead-time-block {
        margin: 12px 0 0;
    }

    .shipping-time-block {
        margin: 12px 0 0;
    }

    .button-wrapper {
        margin: 24px 0 0;
        display: flex;
        flex-direction: column;

        .button:first-of-type {
            margin: 0 0 12px;
        }
    }

    .shipping-block {
        display: flex;
        justify-content: space-between;

        .product-price {
            color: #333333;
            font: {
                size: 16px;
                weight: bold;
            }
        }
    }

    .icon {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin: 0 0 0 13px;
    }

    .information-popup {
        position: absolute;
        z-index: 99;
        background-color: #FFFFFF;
        padding: 10px 20px;
        border: 1px solid #E6E7EB;
        max-width: 250px;
    }

    .shipping-information {
        display: inline-block;
        overflow: hidden;
        white-space: wrap;
        width: 145px;
        text-overflow: ellipsis;

        .shipping-country {
            text-decoration: underline;
        }

        .shipping-method {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-decoration: underline;
        }
    }
}
